{% extends 'base.html' %}

{% block title %}My awesome page title{% endblock %}

{% block content %}

  <h2>Create New User</h2>
  
  <form action="/create-user" method="POST">
  <input type="text" name="first_name" placeholder="First Name">
  <input type="text" name="last_name" placeholder="Last Name">
  <input type="url" name="image_url" placeholder="Profile Image Url">
  <button class="btn btn-success">Submit</button>
  <a href="/users" class="btn btn-warning" role="button">Cancel</a>
  </form>

{% endblock %}