{% extends 'base.html' %}

{% block title %}{{user.first_name}}{% endblock %}

{% block content %}

 
  <h2>{{user.first_name}} {{user.last_name}}</h2>
  <img src="{{user.image_url}}" alt="profile picture">
  <a href="/{{user.id}}/edit" class="btn btn-primary" role="button">Edit User</a>
  <a href="/{{user.id}}/delete" class="btn btn-danger" role="button">Delete User</a>
  <a href="/users" class="btn btn-info" role="button">Back</a>
  
  

   
    <a href="/{{user.id}}/posts/new" class="btn btn-info" role="button">Create Post</a>

    {% for post in posts %}
    {% if post.author_code == user.id %}
    <li><a href="/{{post.id}}">{{post.title}} {{post.author.get_full_name()}}</a></li>
   
   
{% endif %}
{% endfor %}
{% endblock %}